.container {
  margin-top: 7.5%;
  padding-bottom: 15%;
}

.right {
  background-color: rgba(0,0,0,0.50);
  padding-top: 0.5%;
  padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
}

.mainPageLanding {
  width: 100%;
  height: 100%;
}

.video-bg-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-bg-container video {
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}

.mainPageOverlay {
  width: 100%;
  height: 100%;
}

.mainPageTitle {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  margin: auto;
  text-align: center;
  text-shadow: 1.5px 1.5px 6px #000000;
  padding-top: 17.5%;
  width: 75%;
  font-size: 65pt;
  font-weight: bold;
  color: white;
}

.mainPageSubText{
  font-family: 'Montserrat', sans-serif;
  position: relative;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-shadow: 1.5px 1.5px 6px #000000;
  width: 70%;
  font-size: 15pt;
  font-style: italic;
  color: white
}

img {
  width: 300px;
  background-color: rgba(0,0,0,0.50);
  padding: 2.5%;
}

small {
  color: #999;
}

html body {
  font-family: 'Montserrat', sans-serif;
  background-color: #3BC780;
  color: white;
  background-image: url("../images/bars.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a.active{
  background-color: #000000;
  color: #FFFFFF;
  list-style:none;
}

#head{
  font-size: 30px;
}

h1,h2,h3{
  font-family: 'Open Sans', sans-serif;
}


input, textarea{
  color:black !important;
}


